// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";


.statsText{
    font-size: 2.5rem;
    color: $primary;
}

.customCard{
    margin-left: 3px;
    margin-right: 10px;
    border-radius: 20px;
}
